@font-face {
    font-family: "vegan";
    src: url(font/MetalMania-Regular.ttf);
}

body {
    font-family: "vegan";
    text-transform: uppercase;
}

li {
    font-size: 24px;
    line-height: 30px;
}

legend {
    color:#0000FF;
    font-size: 32px;
}

h1 {
    font-size: 48px;
    color: blue;
}

span {
    color: #FF0000;
}