body {
    background-color: white;
    color:black;
    margin-top: 25px;
    margin-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#year {
    background-color: #136842;
    color:white;
}

#title {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: burlywood;
}

#box {
    margin: 2%;
    padding: 20px;
    width: 400px;
    border-style: solid;
    border-color: #C00040;
}

#menu {
    width: 100%;
    border-style: solid;
    border-color: burlywood;
    text-align: center;
}

#fejlec {
    padding-bottom: 10px;
}